@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>This is my final project!</h2>
        <p>
            A student grade book where you can add, edit and delete students in your course.
            Each student has a unique Student ID.
            You can edit a student's grade in a scale from 0 to 100.
        </p>
    </div>
</div>